header {
	margin-bottom: 15px;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
  color:#222;
  margin:0 0 20px;
}

header p, header ul, header ol, header table, header pre, header dl {
  margin:0 0 20px;
}

header h1, header h2, header h3 {
  line-height:1.1;
}

header h1 {
  font-size:28px;
}

header h2 {
  color:#393939;
}

header h3, header h4, header h5, header h6 {
  color:#494949;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}
header ul {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
  text-decoration: none;
}

header .view a {
	color: #39C;
	text-decoration: none;
	font-weight: 400px;
}

body {
	padding: 20px;
	color: #777195;
}

#xml_editor {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	background-color: #fff;
}